/* for albums*/
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
.container {
    padding: 40px;
}
h1 {
    color: white;
    font-size: 35px;
    text-align: center;
}
.song {
    background-color: black;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.song:hover{
    transform: scale(1.003);
    border: 5px solid rgb(63, 4, 4);
}
audio {
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
    font-size: smaller;
}
